.headerContainer {
  background-color: var(--black);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--blue);

  .headerLink {
    text-decoration: none;
    .headerTitle {
      color: var(--eggWhite);
      letter-spacing: 3.5px;
      text-align: center;
      padding: 20px 0;
      margin: 0 auto;
      width: fit-content;
      animation: scaleUp 1.5s ease;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@keyframes scaleUp {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
