.headerContainer {
  background-color: var(--black);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--blue);

  .headerLink {
    text-decoration: none;
    .headerTitle {
      color: var(--eggWhite);
      letter-spacing: 3.5px;
      text-align: center;
      padding: 20px 0;
      margin: 0 auto;
      width: fit-content;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
