.projectGoBack {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  width: fit-content;

  &:hover {
    text-decoration: underline;
  }

  p {
    margin-left: 5px;
  }
}

.contentContainer {
  width: 95%;
  margin: 0 auto;
}
