.container {
  width: 100%;

  .projectContainer {
    width: 90%;
    margin: 100px auto;

    @include respond-to(tablet) {
      width: 75%;
    }

    @include respond-to(desktop) {
      width: 50%;
    }

    .projectPreview > a {
      text-decoration: none;
      color: black;
    }
  }
}
