.navigation {
  background-color: var(--eggWhite);
  border-bottom: 1px solid var(--black);

  .desktopMenu {
    display: none;
  }

  .mobileMenu {
    .mobileSidepanel .menuTrigger {
      .burgerIcon {
        padding: 5px;
        margin: 9px;
        display: block;
      }
    }
  }

  .searchBar {
    display: flex;
    align-items: center;
    position: relative;

    .search {
      padding: 10px;
      display: flex;
      align-content: center;
      border-radius: 50px;

      .clearIcon {
        position: absolute;
        right: 10px;
        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
          color: var(--blue);
          transform: rotate(90deg);
        }
      }

      .searchInput {
        all: unset;
        border-bottom: 1px solid var(--black);
        margin-left: 8px;
        display: flex;

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
          appearance: none;
        }

        &::-ms-clear {
          display: none;
        }
      }
    }

    .searchResultsContainer {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: white;
      border: 1px solid var(--black);
      z-index: 10;
      padding: 10px;

      .searchResults {
        list-style-type: none;
        padding: 0;
        margin: 0;

        .noMatches {
          cursor: default;
        }

        > li {
          padding: 5px;
          cursor: pointer;

          .searchResultLink {
            display: block;
            text-decoration: none;
            color: black;
            font-size: 1rem;

            .projectLink {
              display: flex;
              align-items: center;
              justify-content: space-between;

              > svg {
                transition: color 0.1s ease;
              }

              &:hover {
                text-decoration: underline;

                > svg {
                  color: var(--blue);
                }
              }
            }
          }
        }
      }
    }
  }

  .mobileLinkContainer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .mobileNavItem {
      .mobileLink {
        color: var(--black);
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;
      }
    }
  }

  .linkContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    .navItem {
      list-style-type: none;
      padding: 5px;
      margin: 10px;
      position: relative;

      &:hover {
        text-decoration: underline;
      }
      .link {
        color: var(--black);
        text-decoration: none;
        font-size: 1.1rem;
        position: relative;
        display: inline-block;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: var(--blue);
          transform: scaleX(0);
          transform-origin: left;
          transition: transform 0.15s ease-in;
        }

        .linkText {
          margin: 0;
        }
      }

      &:hover .link::after {
        transform: scaleX(1);
      }
      .link:not(:hover)::after {
        transition: none;
        transform: scaleX(0);
      }
    }
  }

  @include respond-to(tablet) {
    .mobileMenu {
      display: none;
    }

    .desktopMenu {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }
}
